/* Group List Container */
.group-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Group Item Box */
.group-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    background-color: #f9f9f9;
    transition: box-shadow 0.3s ease;
}

.group-item:hover {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* Group Thumbnail */
.group-thumbnail {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
    transition: transform 0.3s ease;
}

.group-thumbnail:hover {
    transform: scale(1.1);
}

/* Group Info Section */
.group-info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-right: 15px;
}

.group-info h4 {
    margin: 0;
    font-size: 1.2em;
    color: #333;
}

.group-info h4 .group-handle {
    font-size: 0.8em;
    color: #666;
    margin-left: 3px;
}

/* Group Description */
.group-info p {
    margin: 5px 0;
    color: #666;
}

/* Enter Group Button */
.enter-group {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
    margin-top: 5px;
}

.enter-group:hover {
    text-decoration: underline;
}

/* Join Group Button */
.join-group-form {
    display: flex;
    background: none;
    border: none;
    box-shadow: none;
    position: relative;
}

.join-group-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.join-group-button:hover {
    background-color: #0056b3;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

/* Group Header Section */
.group-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

.group-header-thumbnail {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.group-header h2 {
    margin: 0;
    font-size: 1.5em;
    color: #333;
    display: flex;
    align-items: center;
}

.group-header h2 a {
    text-decoration: none;
    color: #007bff;
}

.group-header h2 a:hover {
    text-decoration: underline;
}
